- document.title = 'Heartland Tour - Coming Soon ' + app.config.siteTitle;
- document.head.querySelector('meta[name="description"]').content = 'GrowthFountain, in coordination with select credit union and accelerator partners, is on a nationwide search to help businesses raise the capital they need to grow.';

section.heartland-tour
  section.height-block-banner.scroll-paralax.no-paralax-mobile.m-t-0.top-baner
    - var styleString = 'background: url(' + require('images/heartland_tour/heartland-tour.jpg') + ')';
    div(style=styleString + '; height:70vh').background
    .center-wrap.container
      .col-xl-12.p-x-0
        .top-baner-text.text-xs-right
          h1.big-h1.text-uppercase Small Business Rebuild Program
            sup TM
          h3.m-t-0.m-b-0 We’re searching across country on a quest for exciting companies that need to raise money to grow;
            br
            |  from tech startups to the restaurants, bars and bricks & mortar locations across America
  .how-it-works
    .container
      .row
        p.text-justify GrowthFountain, in coordination with select credit union and accelerator partners, is on a nationwide search to help businesses raise the capital they need to grow.  Whether you operate a local business, have a startup or the next big idea, if you’re looking to grow and could use financial backing, we can help.

        .row
          .col-lg-12.m-t-3
            .form-group.row.clearfix.m0
              .col-lg-12.text-xs-center
                h1#getnotified.text-uppercase.m-t-2(style="margin-bottom: 30px") Get Notified
                #accreditedPopup(style="")
                  -
                    var subscriber = require('directives/subscribe-regd/index.js');
                    pug_html += subscriber.render({
                      containerClass: 'subscription-wrap',
                      emailClass: 'col-xs-12 p-l-0',
                      subscribeClass: 'subscription-btn',
                      buttonText: 'Notify me',
                      id: 'be8803f484',
                      next: '/subscription-thanks?type=regd',
                    });
